<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>phtrs</display-name>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>control.listener.CL</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginhandler</servlet-name>
        <servlet-class>control.handler.loginhandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>control.dispatcher.dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporthandler</servlet-name>
        <servlet-class>control.handler.reporthandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminhandler</servlet-name>
        <servlet-class>control.handler.adminhandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginhandler</servlet-name>
        <url-pattern>/loginhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporthandler</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminhandler</servlet-name>
        <url-pattern>/admin_list</url-pattern>
        <url-pattern>/admin_list_w</url-pattern>
        <url-pattern>/admin_list_t</url-pattern>
        <url-pattern>/admin_list_r</url-pattern>
        <url-pattern>/admin_detail</url-pattern>
        <url-pattern>/admin_search</url-pattern>
        <url-pattern>/admin_update</url-pattern>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <display-name>pothole tracking and repair system</display-name>
            <url-pattern>/*</url-pattern>
            <el-ignored>false</el-ignored>
            <scripting-invalid>false</scripting-invalid>
            <is-xml>false</is-xml>
            <include-prelude>/templates/start1.jspf</include-prelude>
            <include-coda>/templates/end.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
